<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>{{welcomeMessage}}</h1>

    <p><a href="/equalauth">Simulate user/password authentication</a></p>
    <br>
    <p><a href="/">Github sources</a></p>

    {{> footer}}
</body>

</html>